<!-- this is a sample for you to use, these are all the environmental variables required for this application
    post your own information in the brackets and change filename to .env -->

client = 'put_your_mongo_atlas_srv_here'
db = 'put_your_db_name_here'