/* personal changes to css after materialize framework */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgba(199, 178, 178, 0.137);
}
main {
    flex: 1 0 auto;
}
a {
    text-transform: none;
    text-align: center;
    text-decoration: none;
    color: white;
}
/* navbar styling */
nav ul li.active {
    background-color: rgba(0,0,0,0.3);
} 
.sidenav li.active {
    background-color: rgba(0,0,0,0.3);
}
/* margins, padding */
.no-padding {
    padding: 0;
}

.padding-logo {
    padding-left: 1rem;
}

.margin-bottom {
    margin-bottom: 4em;
}
.margin-bottom-admin {
    margin-bottom: 1em;
}
.base-content {
    margin-top: 5em;
}
/* changes to cards and headings */
.material-icons.rating {
    font-size: 1em;
    color: gold;
}
.border-radius {
    border-radius: 10px;
}
.nav-img {
    max-width: 100%;
    opacity: 0.75;
}
.invalid-input {
    border-radius: 20px;
    background-color: #ef5350;
    color: antiquewhite;
}
.background-card {
    padding:0.5rem;
    margin: 0;
    background-color: rgba(0,0,0,0.7);
    border-radius: 30px;
}
.background-card-straight {
    padding:0.5rem;
    margin: 0 0 0.5rem 0;
    background-color: rgba(0,0,0,0.7);
    border-radius: 20px;
}
.card .card-image .card-title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    right: 0;
}
/* footer styling */
.footer-link {
    min-width: 100%;
    margin-top: 0.25rem;
}
/* media queries */
@media only screen and (min-width: 600px) {
    .header-browse-game {
        font-size: x-large;
    }
}