body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.no-padding {
    padding: 0;
}
.margin-left {
    margin-left: 1em;
}

.margin-bottom {
    margin-bottom: 4em;
}

.border-radius {
    border-radius: 10px;
}

.nav-img {
    max-width: 100%;
}

.base-content {
    margin-top: 5em;
}

.invalid-input {
    border-radius: 20px;
    background-color: #ef5350;
    color: antiquewhite;
}

.card-img {
    width: 100%;
    height: 10vh;
}

.card .card-image img {
    max-height: 25vh;
}

.divider-card {
    border: 1px solid black;
    width: 80%;
    margin: 2rem 10% 1rem 10%;
    background-color: black;
}

.heading-your-reviews {
    text-transform: capitalize;
    font-size: larger;
}

a {
    text-transform: none;
    text-align: center;
    text-decoration: none;
    color: white;
}

.footer-link {
    min-width: 100%;
    margin-top: 0.25rem;
}