<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews for games!</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="{{url_for('base')}}" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{url_for('browse')}}">Browse Reviews</a></li>
                <li><a href="{{url_for('your_reviews')}}">Your Reviews</a></li>
                <li><a href="#">Top Reviews</a></li>
                <li><a href="#">All Games</a></li>
                <li><a href="{{url_for('login')}}">Login/Sign Up!</a></li>
            </ul>
        </div>
        <ul class="sidenav right" id="mobile">
            <a href="{{url_for('base')}}">
                <img src="{{url_for('static', filename='images/me-flower.jpg')}}" alt="image"class="nav-img">
            </a>
            <li><a href="{{url_for('browse')}}">Browse Reviews</a></li>
            <li><a href="{{url_for('your_reviews')}}">Your Reviews</a></li>
            <li><a href="#">Top Reviews</a></li>
            <li><a href="#">All Games</a></li>
            <li><a href="{{url_for('login')}}">Login/Sign Up!</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="row base-content">
            {% block content %} {% endblock %}
        </div>
    </div>

    <h1>TEST</h1>
    <p>TESTING</p>
    <p>{{ dbase }}</p>
    {% for game in games %}
    <p>{{ game.name }}</p>
    <p>{{ game.publisher }}</p>
    {% endfor %}
    {% for review in reviews %}
    <p>{{ review.description }}</p>
    <p>{{ review.rating }}</p>
    {% endfor %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>
</body>

</html>