{% extends 'base.html'%} {% block content %}
<div class="container">
    <div class="row center-align">
        <h6>Welcome {{ session['username'] }}! These are your reviews!</h6>
    </div>
</div>
{% for review in ureviews %}
<div class="col s12 m6">
    <div class="card-panel teal">
        <div class="row">
            <div class="white-text center-align heading-your-reviews">{{ review.game_name }}</div>
        </div>
        <div class="row">
            <div class="white-text">{{ review.description }}
            </div>
            <div class="divider-card"></div>
            <div class="white-text right-align">
                {{ review.username }} - Rating: {{ review.rating }}/5
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="fixed-action-btn action-button">
    <a href="{{ url_for('add_review') }}" class="btn-floating btn-large waves-effect waves-light red tooltipped"
        data-position="left" data-tooltip="Add a review!"><i class="material-icons">add</i></a>
</div>
{% endblock %}