{% extends 'base.html'%} {% block content %}
<div class="row">
    <div class="col s6 left-align">
        <div>Total Results: {{ results }}</div>
    </div>
    <div class="col s6 right-align">
        <div class="btn teal">
            <a href="{{url_for('admin_tab')}}">Admin Tab</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <h6>Suggestions:</h6>
    </div>
    <ul class="collapsible">
        {% for  game in suggestions %}
        <li>
            <div class="collapsible-header">
                <div class="col s6">{{ game.name}}</div>
                <div class="col s6">{{ game.publisher}}</div>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="col s6 left-align"><a href="{{url_for('add_suggest_game', game_id=game._id)}}"
                            class="btn">Edit</a></div>
                    <div class="col s6 right-align">
                        <!-- Modal Trigger -->
                        <a class="waves-effect waves-light btn modal-trigger red" href="#{{game._id}}">Delete</a>

                        <!-- Modal Structure -->
                        <div id="{{game._id}}" class="modal teal">
                            <div class="modal-content">
                                <h3 class="center-align">Are you sure?</h4>
                                    </br>
                                    <p class="left-align">Are you sure you want to delete {{ game.name }}?</p>
                                    <p class="left-align">Click outside the box to cancel action</p>
                            </div>
                            <div class="modal-footer teal">
                                <a href="{{url_for('delete_suggested_game', game_id=game._id, game_name=game.name)}}"
                                    class="modal-close waves-effect waves-green btn red">Agree</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<!-- Pagination -->
<div class="col s12">
    <div class="col s12 m6 center-align">
        <ul class="pagination">                
            <p class="center-align">Page Number:</p>
            {% if PAGE_NUMBER == 1 %}
            <li class="waves-effect disabled"><a href="#!"></a><i class="material-icons">chevron_left</i></a></li>
            {% else %}
            <li class="waves-effect"><a href="{{ url_for('page_count', num=(PAGE_NUMBER-1), where='admin_tab_suggestions') }}"><i class="material-icons">chevron_left</i></a></li>
            {% endif %}
            {% for page in range(pages) %}
            <li class="waves-effect {% if (session['PAGE_NUMBER']-1) == page %}active{% endif %}"><a href="{{ url_for('page_count', num=(page+1), where='admin_tab_suggestions') }}">{{page+1}}</a></li>
            {%endfor%}
            {% if PAGE_NUMBER == pages %}
            <li class="waves-effect disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            {% else %}
            <li class="waves-effect"><a href="{{ url_for('page_count', num=PAGE_NUMBER+1, where='admin_tab_suggestions' )}}"><i class="material-icons">chevron_right</i></a></li>
            {% endif %}
        </ul>
    </div>
    <div class="col s12 m6 center-align">
        <ul class="pagination">
            <p class="center-align">Items per Page:</p>
            {% set limit=[6, 12, 24, 48, 96] %}
            {% for i in limit %}
            <li class="waves-effect {% if session['LIMIT'] == i %}active{% endif %}"><a href="{{url_for('change_limit', num=i, where='admin_tab_suggestions')}}">{{i}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}