{% extends 'base.html'%} {% block content %}
<div class="row">
    <div class="col s6 left-align">
        <div>Total Results: {{ results }}</div>
    </div>
    <div class="col s6 right-align">
        <div class="btn teal">
            <a href="{{url_for('admin_tab')}}">Admin</a>
        </div>
    </div>
</div>
{% if results > 0 %}
<div class="row">    
    <div class="col s12">
        <h6>Users:</h6>
    </div>
    <ul class="collapsible">
        {% for  user in users %}
        <li>
            <div class="collapsible-header">{{ user.name}}</div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="col s6 left-align"><a href="{{url_for('edit_user', user_id=user._id)}}" class="btn">Edit</a></div>
                    <div class="col s6 right-align">
                        <!-- Modal Trigger -->
                        <a class="waves-effect waves-light btn modal-trigger red" href="#{{user._id}}">Delete</a>

                        <!-- Modal Structure -->
                        <div id="{{user._id}}" class="modal teal">
                            <div class="modal-content center-align white-text">
                                <h5>Are you sure you want to delete user: </br>{{ user.name }}?</h5>
                                <p>Click outside the box to cancel action</p>
                                <a href="{{url_for('delete_user', user_id=user._id, review_name=user.name)}}" class="btn red">Agree</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<!-- Pagination -->
<div class="col s12">
    <div class="col s12 m6 center-align">
        <ul class="pagination">                
            <p class="center-align">Page Number:</p>
            {% if PAGE_NUMBER == 1 %}
            <li class="waves-effect disabled"><a href="#!"></a><i class="material-icons">chevron_left</i></a></li>
            {% else %}
            <li class="waves-effect"><a href="{{ url_for('page_count', num=(PAGE_NUMBER-1), where='admin_tab_users') }}"><i class="material-icons">chevron_left</i></a></li>
            {% endif %}
            {% for page in range(pages) %}
            <li class="waves-effect {% if (session['PAGE_NUMBER']-1) == page %}active{% endif %}"><a href="{{ url_for('page_count', num=(page+1), where='admin_tab_users') }}">{{page+1}}</a></li>
            {%endfor%}
            {% if PAGE_NUMBER == pages %}
            <li class="waves-effect disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            {% else %}
            <li class="waves-effect"><a href="{{ url_for('page_count', num=PAGE_NUMBER+1, where='admin_tab_users' )}}"><i class="material-icons">chevron_right</i></a></li>
            {% endif %}
        </ul>
    </div>
    <div class="col s12 m6 center-align">
        <ul class="pagination">
            <p class="center-align">Items per Page:</p>
            {% set limit=[6, 12, 24, 48, 96] %}
            {% for i in limit %}
            <li class="waves-effect {% if session['LIMIT'] == i %}active{% endif %}"><a href="{{url_for('change_limit', num=i, where='admin_tab_users')}}">{{i}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% endblock %}