<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="{{url_for('static', filename='images/nintendo_pic.jpg')}}">
    <title>Reviews for games!</title>
</head>

<body>
    <!-- navbar -->
    <header>
        <nav>
            <div class="nav-wrapper teal">
                <a href="{{url_for('index')}}" class="brand-logo">Best Reviews!</a>
                <a href="#" data-target="mobile" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    {% if session['admin'] %}
                    <li {% if request.path == '/admin_tab' %}class="active" {% endif %}><a
                            href="{{url_for('admin_tab')}}">Admin Tab</a></li>
                    {% endif %}
                    <li {% if request.path == '/browse' %} class="active" {% endif %}><a
                            href="{{url_for('clear_sessions', where='browse')}}">Browse Reviews</a></li>
                    <li {% if request.path == '/top_games' %}class="active" {% endif %}><a
                            href="{{url_for('top_games')}}">Top Games</a></li>
                    <li {% if request.path == '/all_games' %}class="active" {% endif %}><a
                            href="{{url_for('all_games')}}">All Games</a></li>
                    {% if session['username'] %}
                    <li {% if request.path == '/your_reviews' %}class="active" {% endif %}><a
                            href="{{url_for('clear_sessions', where='your_reviews')}}">Your Reviews</a></li>
                    <li>
                        <!-- Modal Trigger -->
                        <a class="waves-effect waves-light btn modal-trigger red" href="#logout">Logout!</a>
                        <!-- Modal Structure -->
                        <div id="logout" class="modal teal">
                            <div class="modal-content">
                                <div class="modal-content center-align white-text">
                                    <h5>Are you sure you want to logout?</h5>
                                    <p>Click outside the box to cancel action</p>
                                    <a href="{{url_for('logout')}}" class="btn red">Agree</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% else %}
                    <li {% if request.path == '/login' %}class="active" {% endif %}><a
                            href="{{url_for('login')}}">Login/Sign Up!</a></li>
                    {% endif %}
                </ul>
            </div>
            <ul class="sidenav right" id="mobile">
                <a href="{{url_for('index')}}" class="no-padding">
                    <img src="{{url_for('static', filename='images/nintendo_pic.jpg')}}" alt="image" class="nav-img">
                </a>
                {% if session['admin'] %}
                <li {% if request.path == '/admin_tab' %}class="active" {% endif %}><a
                        href="{{url_for('admin_tab')}}">Admin Tab</a></li>
                {% endif %}
                <li {% if request.path == '/browse' %}class="active" {% endif %}><a
                        href="{{url_for('clear_sessions', where='browse')}}">Browse Reviews</a></li>
                <li {% if request.path == '/top_games' %}class="active" {% endif %}><a
                        href="{{url_for('top_games')}}">Top Games</a></li>
                <li {% if request.path == '/all_games' %}class="active" {% endif %}><a
                        href="{{url_for('all_games')}}">All Games</a></li>
                {% if session['username'] %}
                <li {% if request.path == '/your_reviews' %}class="active" {% endif %}><a
                        href="{{url_for('clear_sessions', where='your_reviews')}}">Your Reviews</a></li>
                <li><a class="waves-effect waves-light btn red" href="{{url_for('logout')}}">Logout!</a> </li>
                {% else %}
                <li><a href="{{url_for('login')}}">Login/Sign Up!</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <!--- main content -->
    <main>
        <div class="container">
            <div class="row base-content">
                <!-- content that is inserted by other templates -->
                {% block content %} {% endblock %}
            </div>
        </div>
    </main>
    <!-- footer -->
    <footer class="page-footer teal darken-1">
        <div class="container">
            <div class="row">
                <h6 class="center-align">Social links from the creator of the page</h6>
            </div>
            <div class="row">
                <div class="col s6 m3">
                    <a href="https://www.facebook.com/john.sletvoldhafenrichter" target="_blank"
                        class="btn-small footer-link">
                        <i class="fab fa-facebook-square white"></i>
                        <span>Facebook</span>
                    </a>
                </div>
                <div class="col s6 m3">
                    <a href="https://twitter.com/Mediato32898222" target="_blank" class="btn-small footer-link">
                        <i class="fab fa-twitter-square"></i>
                        <span>Twitter</span>
                    </a>
                </div>
                <div class="col s6 m3">
                    <a href="https://www.linkedin.com/in/john-sletvold-hafenrichter" target="_blank"
                        class="btn-small footer-link">
                        <i class="fab fa-linkedin"></i>
                        <span>LinkedIn</span>
                    </a>
                </div>
                <div class="col s6 m3">
                    <a href="https://github.com/johnsletvoldhafenrichter" target="_blank" class="btn-small footer-link">
                        <i class="fab fa-github-square"></i>
                        <span>GitHub</span>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/efe33daf5d.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>