{% extends 'base.html'%} {% block content %}
<div class="row">
    <form action="{{ url_for('browse') }}" method="POST">
        <div class="col s8">
            <select required name="game_select" id="game_select" class="icons">
                {% if name %}
                <option value="{{ name }}" disabled selected>{{ name }}</option>
                {% else %}
                <option value="" disabled selected>Choose your option</option>
                {% endif %}
                {% for game in games %}
                <option value="{{ game }}" data-icon="{{ game.picture_link }}">{{ game.name }}</option>
                {% endfor %}
            </select>
            <label>Choose your game in order to see reviews</label>
        </div>
        <div class="col s4 right-align">
            <button class="btn waves-effect waves-light" type="submit" name="action">Search
                <i class="material-icons right">search</i>
            </button>
        </div>
    </form>
</div>
</div>
{% if name %}
<div class="row">
    <div class="col s12">
        <div class="card horizontal">
            <div class="card-image">
                <img src="{{ picture }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>{{ name }}</p>
                </div>
                <div class="card-action">
                    <a href="{{wiki_link}}" target="_blank">wikipedia link</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a href="#test1">Test 1</a></li>
            <li class="tab col s3"><a href="#test2">Test 2</a></li>
            <li class="tab col s3"><a href="#test4">Test 4</a></li>
        </ul>
    </div>
    <div id="test1" class="col s12">
        <ul class="collapsible">
            {% for user, review in reviews.items() %}
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{ user.name }}</div>
                <div class="collapsible-body">
                    <p>{{ review.description }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="test2" class="col s12">Test 2</div>
    <div id="test4" class="col s12">Test 4</div>
</div>
{% endif %}
{% endblock %}