{% extends 'base.html'%} {% block content %}
{% if session['game_name'] %}
<div class="row">
    <div class="col s12">
        <div class="card medium horizontal">
            <div class="card-image">
                <img src="{{ session['game_picture'] }}">
            </div>
            <div class="card-stacked">
                <div class="card-content teal white-text center-align">
                    <h5>{{ session['game_name'] }}</h5>
                </div>
                <div class="card-content">                    
                    <p>{{ session['game_description'] }}</p>
                </div>
                <div class="card-action teal">
                    <div class="col s6 left-align"><a class="white-text" href="{{session['game_wiki_link']}}" target="_blank">Go to Wikipedia!</a></div>
                    <div class="col s6 white-text right-align">Rated: {{ session['game_average'] }}/5<i class="material-icons rating">star_rate</i></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="row">
    <form action="{{ url_for('browse') }}" method="POST">
        <div class="row">
            <div class="input-field col s12 m6">
                <select name="browse_user" id="browse_user">
                    {% if session['browse_user'] %}
                    <option value="{{ session['browse_user'] }}" selected>{{ session['browse_user'] }}</option>
                    {% else %}
                    <option value="" selected>Choose User</option>
                    {% endif %}
                    {% for user in users %}
                    <option value="{{user.name}}">{{user.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-field col s12 m6">
                <select name="browse_rating" id="browse_rating">
                    {% if session['browse_rating'] %}
                    <option value="{{ session['browse_rating'] }}" selected>{{ session['browse_rating'] }}</option>
                    {% else %}
                    <option value="" selected>Choose Rating</option>
                    {% endif %}
                    {% set ratings=[1, 2, 3, 4, 5] %}
                    {% for num in ratings %}
                    <option value="{{num}}">{{num}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <select name="game_select" id="game_select" class="icons">
                    {% if session['game_name'] %}
                    <option value="{{ session['game_json'] }}" selected>{{ session['game_name'] }}</option>
                    {% else %}
                    <option value="" selected>Choose your option</option>
                    {% endif %}
                    {% for game in games %}
                    <option value="{{ game }}" data-icon="{{ game.picture_link }}">{{ game.name }}</option>
                    {% endfor %}
                </select>
                <label>Choose your game in order to see reviews</label>
            </div>
            <div class="col s6 m3">
                <button class="btn waves-effect waves-light" type="submit" name="action">Search
                    <i class="material-icons right">search</i>
                </button>
            </div>
            <div class="col s6 m3 right-align">
                <a href="{{url_for('clear_sessions', where='browse')}}" class="btn red waves-effect waves-light">Clear
                    <i class="material-icons right">delete</i>
                </a>
            </div>
        </div>
    </form>
</div>

<!-- Sorting Navigation -->
<div class="row">
    <div id="sorting" class="row">
        <div class="col s12 center-align">
            <p>SORT BY:</p>
        </div>
        <div class="row col s12 m6">
            <div class="col s6">
                <a href="{{url_for('sorting', el='user')}}" class="btn waves-effect waves-light">User
                    <i class="material-icons right">sort</i>
                </a>
            </div>
            <div class="col s6">
                <a href="{{url_for('sorting', el='rating')}}" class="btn waves-effect waves-light">Rating
                    <i class="material-icons right">sort</i>
                </a>
            </div>
        </div>        
        <div class="row col s12 m6">
            <div class="col s6">
                <a href="{{url_for('sorting', el='game')}}" class="btn waves-effect waves-light">Game
                    <i class="material-icons right">sort</i>
                </a>
            </div>
            <div class="col s6">
                <a href="{{url_for('sorting', el='latest')}}" class="btn waves-effect waves-light">Newest/Oldest
                    <i class="material-icons right">sort</i>
                </a>
            </div>
        </div>
    </div>
</div>
    <div class="row center-align">
        <h5>Total Results: {{ results }}</h5>
    </div>
    {% if session['user_sort'] == -1 or session['user_sort'] == 1 %}
        <div class="row">
            {% for review in review_users %}
            <div class="col s12 m6">
                <div class="card small">
                    <div class="card-content teal">
                    <span class="card-title white-text activator text-darken-4 center-align">{{ review.game_name }}</span>
                    </div>
                    <div class="card-content">
                    <span class="card-title activator black-text text-darken-4 truncate">{{ review.description }}<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ review.username }}'s Review:<i class="material-icons right">close</i></span>
                    <p>{{ review.description }}</p>
                    </div>
                    <div class="card-action teal center-align">
                        <div class="col s12 m6">
                            <span class="white-text text-darken-4">From User: {{ review.username }}</span>
                        </div>
                        <div class="col s12 m6">
                            <span class="card-footer white-text text-darken-4">User Rated: {{ review.rating }}/5<i class="material-icons rating">star_rate</i></span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% elif session['rating_sort'] == -1 or session['rating_sort'] == 1 %}
        <div class="row">
            {% for review in review_ratings %}
            <div class="col s12 m6">
                <div class="card small">
                    <div class="card-content teal">
                    <span class="card-title white-text activator text-darken-4 center-align">{{ review.game_name }}</span>
                    </div>
                    <div class="card-content">
                    <span class="card-title activator black-text text-darken-4 truncate">{{ review.description }}<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ review.username }}'s Review:<i class="material-icons right">close</i></span>
                    <p>{{ review.description }}</p>
                    </div>
                    <div class="card-action teal center-align">
                        <div class="col s12 m6">
                            <span class="white-text text-darken-4">From User: {{ review.username }}</span>
                        </div>
                        <div class="col s12 m6">
                            <span class="card-footer white-text text-darken-4">User Rated: {{ review.rating }}/5<i class="material-icons rating">star_rate</i></span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% elif session['game_sort'] == -1 or session['game_sort'] == 1 %}
        <div class="row">
            {% for review in review_games %}
            <div class="col s12 m6">
                <div class="card small">
                    <div class="card-content teal">
                    <span class="card-title white-text activator text-darken-4 center-align">{{ review.game_name }}</span>
                    </div>
                    <div class="card-content">
                    <span class="card-title activator black-text text-darken-4 truncate">{{ review.description }}<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ review.username }}'s Review:<i class="material-icons right">close</i></span>
                    <p>{{ review.description }}</p>
                    </div>
                    <div class="card-action teal center-align">
                        <div class="col s12 m6">
                            <span class="white-text text-darken-4">From User: {{ review.username }}</span>
                        </div>
                        <div class="col s12 m6">
                            <span class="card-footer white-text text-darken-4">User Rated: {{ review.rating }}/5<i class="material-icons rating">star_rate</i></span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% elif session['review_sort'] == -1 or session['review_sort'] == 1 %}
        <div class="row">
            {% for review in review_latest %}
            <div class="col s12 m6">
                <div class="card small">
                    <div class="card-content teal">
                    <span class="card-title white-text activator text-darken-4 center-align">{{ review.game_name }}</span>
                    </div>
                    <div class="card-content">
                    <span class="card-title activator black-text text-darken-4 truncate">{{ review.description }}<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ review.username }}'s Review:<i class="material-icons right">close</i></span>
                    <p>{{ review.description }}</p>
                    </div>
                    <div class="card-action teal center-align">
                        <div class="col s12 m6">
                            <span class="white-text text-darken-4">From User: {{ review.username }}</span>
                        </div>
                        <div class="col s12 m6">
                            <span class="card-footer white-text text-darken-4">User Rated: {{ review.rating }}/5<i class="material-icons rating">star_rate</i></span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="row">
            {% for review in all_reviews %}
            <div class="col s12 m6">
                <div class="card small">
                    <div class="card-content teal">
                    <span class="card-title white-text activator text-darken-4 center-align">{{ review.game_name }}</span>
                    </div>
                    <div class="card-content">
                    <span class="card-title activator black-text text-darken-4 truncate">{{ review.description }}<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ review.username }}'s Review:<i class="material-icons right">close</i></span>
                    <p>{{ review.description }}</p>
                    </div>
                    <div class="card-action teal center-align">
                        <div class="col s12 m6">
                            <span class="white-text text-darken-4">From User: {{ review.username }}</span>
                        </div>
                        <div class="col s12 m6">
                            <span class="card-footer white-text text-darken-4">User Rated: {{ review.rating }}/5<i class="material-icons rating">star_rate</i></span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% if results > 0 %}
    <!-- Pagination -->
    <div class="col s12">
        <div class="col s12 m6 center-align">
            <ul class="pagination">                
                <p class="center-align">Page Number:</p>
                {% if PAGE_NUMBER == 1 %}
                <li class="waves-effect disabled"><a href="#!"></a><i class="material-icons">chevron_left</i></a></li>
                {% else %}
                <li class="waves-effect"><a href="{{ url_for('page_count', num=(PAGE_NUMBER-1), where='browse') }}"><i class="material-icons">chevron_left</i></a></li>
                {% endif %}
                {% for page in range(pages) %}
                <li class="waves-effect {% if (session['PAGE_NUMBER']-1) == page %}active{% endif %}"><a href="{{ url_for('page_count', num=(page+1), where='browse') }}">{{page+1}}</a></li>
                {%endfor%}
                {% if PAGE_NUMBER == pages %}
                <li class="waves-effect disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                {% else %}
                <li class="waves-effect"><a href="{{ url_for('page_count', num=PAGE_NUMBER+1, where='browse' )}}"><i class="material-icons">chevron_right</i></a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col s12 m6 center-align">
            <ul class="pagination">
                <p class="center-align">Items per Page:</p>
                {% set limit=[6, 12, 24, 48, 96] %}
                {% for i in limit %}
                <li class="waves-effect {% if session['LIMIT'] == i %}active{% endif %}"><a href="{{url_for('change_limit', num=i, where='browse')}}">{{i}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
{% endblock %}