{% extends 'base.html'%} {% block content %}
<div class="container">
    <div class="row white-text card-panel teal lighten-2 margin-bottom border-radius">
        <h4 class="center-align">Welcome to the best gaming review site!</h4>
        <h5 class="center-align">These are the last 6 reviews posted by our community!</h5>
        <p>Our goal is to give you uncensored and raw reviews based on user experience for each game!</p>
        <p>Feel free to explore all reviews under browse reviews or sign up in order to post and edit your own reviews!</p>
        <p>Currently there are {{ users }} users, {{ games }} games and {{ reviews }} reviews on this website!</p>
    </div>
</div>
<div class="row">
    {% for review in lates_reviews %}
        <div class="col s12 m6">
            <div class="card-panel teal">
                <span class="white-text">
                    <div class="row">
                        <div class="col s12 uppercase center-align">
                            GAME: {{ review.game_name }}
                        </div>
                    </div>
                    <div class="row center-align">
                        <p>REVIEW:</p>
                        <p>{{ review.description }}</p>
                    </div>
                </span>
                <div class="row margin-bottom-none white-text">
                    <div class="col s6 left-align">From: {{ review.username }}</div>
                    <div class="col s6 right-align"><span>Rating: {{ review.rating }}/5</div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}