{% extends 'base.html'%} {% block content %}
<div class="container">
    <div class="row white-text card-panel teal lighten-2 margin-bottom center-align border-radius">
        <h5>Welcome {{ session['username'] }}! These are your reviews!</h6>
    </div>
</div>
{% for review in ureviews %}
<div class="col s12 m6">
    <div class="card-panel border-radius teal lighten-2 ">
        <div class="row">
            <div class="white-text center-align heading-your-reviews">{{ review.game_name }}</div>
        </div>
        <div class="row">
            <div class="white-text">{{ review.description }}
            </div>
            <div class="divider-card"></div>
            <div class="white-text right-align">
                {{ review.username }} - Rating: {{ review.rating }}/5
            </div>
        </div>
        <div class="row">
            <div class="col s6 left-align"><a href="{{url_for('edit_review', review_id=review._id)}}" class="btn">Edit</a></div>
            <div class="col s6 right-align">
                <!-- Modal Trigger -->
                <a class="waves-effect waves-light btn modal-trigger red" href="#{{review._id}}">Delete</a>

                <!-- Modal Structure -->
                <div id="{{review._id}}" class="modal teal">
                    <div class="modal-content">
                        <h3 class="center-align">Are you sure?</h4>
                            </br>
                            <p class="left-align">Are you sure you want to delete {{ review.description }}?</p>
                            <p class="left-align">Click outside the box to cancel action</p>
                    </div>
                    <div class="modal-footer teal">
                        <a href="{{url_for('delete_review', review_id=review._id)}}" class="btn red">Agree</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="fixed-action-btn action-button">
    <a href="{{ url_for('add_review') }}" class="btn-floating btn-large waves-effect waves-light red tooltipped"
        data-position="left" data-tooltip="Add a review!"><i class="material-icons">add</i></a>
</div>
{% endblock %}