{% extends 'base.html'%} {% block content %}
<div class="container">
    <div class="row white-text card-panel teal lighten-2 margin-bottom center-align border-radius">
        <h5>Welcome {{ session['username'] }}! These are your reviews!</h5>
    </div>
</div>
<div class="row center-align">
    <h5>You have created: {{ results }} reviews!</h5>
    <p>To add a review or suggest a game hover the bottom right button!</p>
</div>
{% if session['game_name'] %}
<div class="row">
    <div class="col s12">
        <div class="card horizontal">
            <div class="card-image">
                <img src="{{ session['game_picture'] }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h6>{{ session['game_name'] }}</h6>
                    <p>{{ session['game_description'] }}</p>
                </div>
                <div class="card-action">
                    <a href="{{session['game_wiki_link']}}" target="_blank">wikipedia link</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<form action="{{ url_for('your_reviews') }}" method="POST">
    <div class="row">
        <div class="input-field col s12 m6">
            <select name="browse_rating" id="browse_rating">
                {% if session['browse_rating'] %}
                <option value="{{ session['browse_rating'] }}" selected>{{ session['browse_rating'] }}</option>
                {% else %}
                <option value="" selected>Choose Rating</option>
                {% endif %}
                {% set ratings=[1, 2, 3, 4, 5] %}
                {% for num in ratings %}
                <option value="{{num}}">{{num}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-field col s12 m6">
            <select name="game_select" id="game_select" class="icons">
                {% if session['game_name'] %}
                <option value="{{ session['game_json'] }}" selected>{{ session['game_name'] }}</option>
                {% else %}
                <option value="" selected>Choose your game</option>
                {% endif %}
                {% for game in games %}
                <option value="{{ game }}" data-icon="{{ game.picture_link }}">{{ game.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col s12 right-align">
            <button class="btn waves-effect waves-light" id="search" type="submit" name="action">Search
                <i class="material-icons right">search</i>
            </button>
            <a href="{{url_for('clear_sessions', where='your_reviews')}}" class="btn red waves-effect waves-light">Clear
                Search
                <i class="material-icons right">delete</i>
            </a>
        </div>
    </div>
</form>
<div class="row">
    {% if result %}
    <div class="row">
        <div class="col s12">
            <h4>There are {{ result }} results in your search!</h4>
        </div>
    </div>
    {% endif %}
    {% for review in ureviews %}
    <div class="col s12 m6">
        <div class="card small">
            <div class="card-content teal">
                <div class="card-title white-text activator text-darken-4 center-align">{{ review.game_name }}</div>
            </div>
            <div class="card-content">
                <div class="card-title activator black-text text-darken-4 truncate">{{ review.description }}<i
                        class="material-icons right">more_vert</i></div>
            </div>
            <div class="card-reveal">
                <div class="card-title grey-text text-darken-4">
                    <span><a href="{{url_for('edit_review', review_id=review._id)}}" class="btn">Edit</a></span>
                    <span>
                        <!-- Modal Trigger -->
                        <a class="waves-effect waves-light btn modal-trigger red" href="#{{review._id}}">Delete</a>
                        <!-- Modal Structure -->
                        <div id="{{review._id}}" class="modal teal">
                            <div class="modal-content center-align white-text">
                                <h5>Delete?</h5>
                                <a href="{{url_for('delete_review', review_id=review._id)}}" class="btn red">Agree</a>
                            </div>
                        </div>
                    </span>
                    <i class="material-icons right">close</i>
                </div>
                <p>{{ review.description }}</p>
            </div>
            <div class="card-action teal center-align">
                <div class="col s12 m6">
                    <div class="white-text text-darken-4">From User: {{ review.username }}</div>
                </div>
                <div class="col s12 m6">
                    <div class="card-footer white-text text-darken-4">User Rated: {{ review.rating }}/5<i
                            class="material-icons rating">star_rate</i></div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- Pagination -->
    <div class="col s12">
        <div class="col s12 m6 center-align">
            <ul class="pagination">
                <p class="center-align">Page Number:</p>
                {% if PAGE_NUMBER == 1 %}
                <li class="waves-effect disabled"><a href="#!"></a><i class="material-icons">chevron_left</i></li>
                {% else %}
                <li class="waves-effect"><a
                        href="{{ url_for('page_count', num=(PAGE_NUMBER-1), where='your_reviews') }}"><i
                            class="material-icons">chevron_left</i></a></li>
                {% endif %}
                {% for page in range(pages) %}
                <li class="waves-effect {% if (session['PAGE_NUMBER']-1) == page %}active{% endif %}"><a
                        href="{{ url_for('page_count', num=(page+1), where='your_reviews') }}">{{page+1}}</a></li>
                {%endfor%}
                {% if PAGE_NUMBER == pages %}
                <li class="waves-effect disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                {% else %}
                <li class="waves-effect"><a
                        href="{{ url_for('page_count', num=PAGE_NUMBER+1, where='your_reviews' )}}"><i
                            class="material-icons">chevron_right</i></a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col s12 m6 center-align">
            <ul class="pagination">
                <p class="center-align">Items per Page:</p>
                {% set limit=[6, 12, 24, 48, 96] %}
                {% for i in limit %}
                <li class="waves-effect {% if session['LIMIT'] == i %}active{% endif %}"><a
                        href="{{url_for('change_limit', num=i, where='your_reviews')}}">{{i}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li><a href="{{ url_for('add_review') }}" class="btn-floating tooltipped green darken-1"
                    data-position="left" data-tooltip="Add Review"><i class="material-icons">grading</i></a></li>
            <li><a href="{{ url_for('suggest_game') }}" class="btn-floating tooltipped red" data-position="left"
                    data-tooltip="Suggest A Game"><i class="material-icons">games</i></a></li>
        </ul>
    </div>
</div>
{% endblock %}