{% extends 'base.html'%} {% block content %}
<div class="container">
    <div class="row white-text card-panel teal lighten-2 margin-bottom center-align border-radius">
        <h5>Welcome {{ session['username'] }}! These are your reviews!</h6>
        <h5>You have created: {{ results }} reviews!</h5>
    </div>
</div>
{% if session['game_name'] %}
<div class="row">
    <div class="col s12">
        <div class="card horizontal">
            <div class="card-image">
                <img src="{{ session['game_picture'] }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>{{ session['game_name'] }}</p>
                </div>
                <div class="card-action">
                    <a href="{{session['game_wiki_link']}}" target="_blank">wikipedia link</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="row">
    <form action="{{ url_for('your_reviews') }}" method="POST">
            <div class="input-field col s12 m6">
                <select name="browse_rating" id="browse_rating">
                    {% if session['browse_rating'] %}
                    <option value="{{ session['browse_rating'] }}" selected>{{ session['browse_rating'] }}</option>
                    {% else %}
                    <option value="" selected>Choose Rating</option>
                    {% endif %}
                    {% set ratings=[1, 2, 3, 4, 5] %}
                    {% for num in ratings %}
                    <option value="{{num}}">{{num}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-field col s12 m6">
                <select name="game_select" id="game_select" class="icons">
                    {% if session['game_name'] %}
                    <option value="{{ session['game_json'] }}" selected>{{ session['game_name'] }}</option>
                    {% else %}
                    <option value="" selected>Choose your game</option>
                    {% endif %}
                    {% for game in games %}
                    <option value="{{ game }}" data-icon="{{ game.picture_link }}">{{ game.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <button class="btn waves-effect waves-light" id="search" type="submit" name="action">Search
                    <i class="material-icons right">search</i>
                </button>
            </div>
            <div class="col s6 right-align">
                <a href="{{url_for('clear_sessions', where='your_reviews')}}" class="btn red waves-effect waves-light">Clear
                    <i class="material-icons right">delete</i>
                </a>
            </div>
        </div>
    </form>
</div>
<div class="row">
    {% if result %}
    <div class="row">
        <div class="col s12">
            <h4>There are {{ result }} results in your search!</h4>
        </div>
    </div>
    {% endif %}

    {% for review in ureviews %}
    <div class="col s12 m6">
        <div class="card-panel border-radius teal lighten-2 ">
            <div class="row">
                <div class="white-text center-align heading-your-reviews">{{ review.game_name }}</div>
            </div>
            <div class="row">
                <div class="white-text">{{ review.description }}
                </div>
                <div class="divider-card"></div>
                <div class="white-text right-align">
                    {{ review.username }} - Rating: {{ review.rating }}/5
                </div>
            </div>
            <div class="row">
                <div class="col s6 left-align"><a href="{{url_for('edit_review', review_id=review._id)}}" class="btn">Edit</a></div>
                <div class="col s6 right-align">
                    <!-- Modal Trigger -->
                    <a class="waves-effect waves-light btn modal-trigger red" href="#{{review._id}}">Delete</a>

                    <!-- Modal Structure -->
                    <div id="{{review._id}}" class="modal teal">
                        <div class="modal-content">
                            <h3 class="center-align">Are you sure?</h4>
                                </br>
                                <p class="left-align">Are you sure you want to delete {{ review.description }}?</p>
                                <p class="left-align">Click outside the box to cancel action</p>
                        </div>
                        <div class="modal-footer teal">
                            <a href="{{url_for('delete_review', review_id=review._id)}}" class="btn red">Agree</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- Pagination -->
    <div class="col s12">
        <div class="col s12 m6 center-align">
            <ul class="pagination">                
                <p class="center-align">Page Number:</p>
                {% if PAGE_NUMBER == 1 %}
                <li class="waves-effect disabled"><a href="#!"></a><i class="material-icons">chevron_left</i></a></li>
                {% else %}
                <li class="waves-effect"><a href="{{ url_for('page_count', num=(PAGE_NUMBER-1), where='your_reviews') }}"><i class="material-icons">chevron_left</i></a></li>
                {% endif %}
                {% for page in range(pages) %}
                <li class="waves-effect {% if (session['PAGE_NUMBER']-1) == page %}active{% endif %}"><a href="{{ url_for('page_count', num=(page+1), where='your_reviews') }}">{{page+1}}</a></li>
                {%endfor%}
                {% if PAGE_NUMBER == pages %}
                <li class="waves-effect disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                {% else %}
                <li class="waves-effect"><a href="{{ url_for('page_count', num=PAGE_NUMBER+1, where='your_reviews' )}}"><i class="material-icons">chevron_right</i></a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col s12 m6 center-align">
            <ul class="pagination">
                <p class="center-align">Items per Page:</p>
                {% set limit=[6, 12, 24, 48, 96] %}
                {% for i in limit %}
                <li class="waves-effect {% if session['LIMIT'] == i %}active{% endif %}"><a href="{{url_for('change_limit', num=i, where='your_reviews')}}">{{i}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="fixed-action-btn action-button">
        <a href="{{ url_for('add_review') }}" class="btn-floating btn-large waves-effect waves-light red tooltipped"
            data-position="left" data-tooltip="Add a review!"><i class="material-icons">add</i></a>
    </div>
</div>
{% endblock %}